{% extends 'freewill/base.html' %}
{% load static %}
{% block title %}FreeWill Social - {{ group.name }} - {{ channel|title }}{% endblock %}

{% block content %}
{% if request.user in group.members.all %}
<div class="wrapper">
    <h1 class="supertitle">{{ group.name }} - {{ channel|title }}</h1>
    <!--Comment Form-->
    {% if can_post %}
    <div class="wide-card">
        <h2 class="title">{% if comment_to_edit %}Edit Comment{% else %}Add a Comment{% endif %}</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.content.errors }}
            {{ form.content }}
            <button type="submit" class="app-button full-width">
                {% if comment_to_edit %}Save{% else %}Post{% endif %}
            </button>
        </form>
        <a href="{% url 'freewill:group_detail' group.id %}" class="app-button full-width">Back to group</a> 
    </div>
    {% endif %}

    <!--Past Comments-->
    <div class="wide-card">
        <h2 class="title">Comments</h2>
        {% for comment in comments %}
        <div class="comment-card">
            <div class="comment-row">
                <div class="comment-name">
                    <a class="comment-username">{{ comment.user.username }}</a>
                    {% if comment.user.profile.nickname %}
                        <a class="comment-nickname">{{ comment.user.profile.nickname }}</a>
                    {% endif %}
                </div>
                <div class="comment-content">
                    <a>{{ comment.content }}</a>
                </div>
                <div class="comment-actions">
                    <a class="comment-time">{{ comment.created_at|date:"h:i a d-m-y" }}</a>
                    {% if comment.user == request.user or request.user == group.admin or request.user == group.owner %}
                        <div class="button-row">
                        {% if comment.user == request.user and can_post %}
                            <a class="app-button" href="{% url 'freewill:edit_comment' group.id channel comment.id %}">Edit</a>
                        {% endif %}
                            <a class="app-button danger"
                            href="{% url 'freewill:delete_comment' group.id channel comment.id %}"
                            onclick="return confirm('Are you sure you want to delete this comment?');">
                            Delete
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p style="text-align: center;">No {{ channel }} yet.</p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}