{% extends 'freewill/base.html' %}
{% load static %}
{% block title %}FreeWill Social - {{ group.name }}{% endblock %}

{% block content %}
{% if request.user in group.members.all %}
<h1 class="supertitle">{{ group.name }}</h1>
<div class="wrapper">
    <!--Details-->
    <div class="wide-card">
        <h2 class="title">Details</h2>
        <div class="detail-line">
            <a>Group Nickname: {{ group.nickname }}</a>
        </div>
        <div class="detail-line">
            <a>Owner: {{ group.owner }}</a>
        </div>
        <div class="detail-line">
            <a>Visibility: {{ group.get_visibility_display }}</a>
        </div>
        <div class="detail-line">
            <a>Your role in this group: {{ user_role|title }}</a>
        </div>
    </div>
    <div class="wide-card">
        <h2 class="title">Channels</h2>
        <a class="app-button full-width">Announcements</a>
        <a class="app-button full-width" href="{% url 'freewill:communication' group.id %}">Communications</a>
    </div>
    <!--Members-->
    <div class="wide-card">
        <h2 class="title">Members</h2>
    {% for membership in group_memberships %}
        <div class="threeway-card">
            <div class="threeway-row">
                <div class="threeway-name">
                    <a class="threeway-username">Username: {{ membership.user.username }}</a>
                {% if membership.user.profile.nickname %}
                    <a class="threeway-nickname">Nickname: {{ membership.user.profile.nickname }}</a>
                {% endif %}
                </div>
                <div class="threeway-actions">
                {% if membership.role == 'owner' %}
                    (Owner)
                {% elif user_role == 'owner' %}
                    <form method="post" action="{% url 'freewill:manage_member_action' group.id membership.user.id %}">
                    {% csrf_token %}
                        <select name="role" onchange="this.form.submit()" class="role-select">
                            <option disabled>-- Select Action --</option>
                            <option value="read" {% if membership.role == 'read' %}selected{% endif %}>Read</option>
                            <option value="comment" {% if membership.role == 'comment' %}selected{% endif %}>Comment</option>
                            <option value="admin" {% if membership.role == 'admin' %}selected{% endif %}>Admin</option>
                            <option value="kick">Kick</option>
                            <option value="ban">Ban</option>
                        </select>
                    </form>
                {% elif membership.role == 'admin' %}
                    (Admin)
                {% elif user_role == 'admin' %}
                    <form method="post" action="{% url 'freewill:manage_member_action' group.id membership.user.id %}">
                    {% csrf_token %}
                        <select name="role" onchange="this.form.submit()" class="role-select">
                            <option disabled>-- Select Action --</option>
                            <option value="read" {% if membership.role == 'read' %}selected{% endif %}>Read</option>
                            <option value="comment" {% if membership.role == 'comment' %}selected{% endif %}>Comment</option>
                            <option value="kick">Kick</option>
                            <option value="ban">Ban</option>
                        </select>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if user_role == 'owner' or user_role == 'admin' or group.visibility == 'public' %}
        <a class="app-button full-width" href="{% url 'freewill:invite_users' group.id %}">Invite Users</a>
        {% endif %}
    </div>
    <!--Management-->
    {% if user_role == 'owner' or user_role == 'admin' %}
        <div class="wide-card">
            <h2 class="title">Group Management</h2>
            <!--Banned Users (TO DO)-->
        {% if banned_users %}
            <div>
                <h3 class="subtitle">Banned Users</h3>
            {% for banned in banned_users %}
                <div class="threeway-card">
                    <div class="threeway-row">
                        <div class="threeway-name">
                        <a class="threeway-username">Username: {{ banned.username }}</a>
                        {% if banned.profile.nickname %}
                            <a class="threeway-nickname">Nickname: {{ banned.profile.nickname }}</a>
                        {% endif %}
                        </div>
                        <div class="threeway-actions">
                            <a href="{% url 'freewill:manage_member_action' group.id banned.id %}?action=unban"
                                class="app-button danger"
                                onclick="return confirm('Unban {{ banned.profile.nickname }}?');">
                                Unban
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% if group.join_requests.all %}
            <div>
                <!--Join Requests-->
                <h3 class="subtitle">Join Requests</h3>
            {% for req in group.join_requests.all %}
                <div class="threeway-card">
                    <div class="threeway-row">
                        <div class="threeway-name">
                            <a class="threeway-username">Username: {{ req.user.username }}</a>
                            {% if req.user.profile.nickname %}
                                <a class="threeway-nickname">Nickname: {{ req.user.profile.nickname }}</a>
                            {% endif %}
                        </div>
                        <div class="thrreeway-info">
                            <a>Requested: {{ req.created_at|date:"Y-m-d h:i a" }}</a>
                        </div>
                        <div class="threeway-actions button-row">
                            <a href="{% url 'freewill:handle_join_request' group.id req.id 'approve' %}"
                            class="app-button full-width">
                                Approve
                            </a>
                            <a href="{% url 'freewill:handle_join_request' group.id req.id 'reject' %}"
                            class="app-button full-width danger">
                                Reject
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
            <a class="app-button full-width" href="{% url 'freewill:group_logs' group.id %}">View Group Logs</a>
            {% if request.user == group.owner %}
                <a class="app-button full-width" href="{% url 'freewill:group_settings' group.id %}">Edit Group Settings</a>
            {% endif %}
        </div>
    {% endif %}
    {% if request.user == group.owner %}
    <!--Owner Options-->
        <div class="wide-card danger-card">
            <h2 class="title danger-title">Danger Zone - Owner Options</h2>
            {% if has_admin %}
                <a class="app-button full-width danger" href="{% url 'freewill:transfer_ownership' group.id %}">Transfer Ownership</a>
            {% endif %}
            <a class="app-button full-width danger" href="{% url 'freewill:delete_group' group.id %}">Delete Group</a>
        </div>
    {% else %}
    <!--Leave Group-->
        <div class="wide-card danger-card">
            <h2 class="title danger-title">Danger Zone</h2>
            <a class="app-button full-width danger"
                href="{% url 'freewill:leave_group' group.id %}"
                onclick="return confirm('Are you sure you want to leave this group?');">
                Leave Group
            </a>
        </div>
    {% endif %}
</div>
{% else %}
{% endif %}
{% endblock %}