{% extends 'freewill/base.html' %}
{% load static %}
{% block title %}FreeWill Social - {{ group.name }} - Invites{% endblock %}

{% block content %}
<div class="wrapper">
    <!--Send Invite-->
    <div class="wide-card">
        <h2 class="title">{{ group.name }} - Invite Users</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <select name="user_id" id="user_id" required class="form-input">
                    <option value="">Select a user</option>
                {% for user in users_not_in_group %}
                    <option value="{{ user.id }}">{{ user.profile.nickname }} ({{ user.username }})</option>
                {% endfor %}
                </select>
            </div>
            <button type="submit" class="app-button full-width">Send Invitation</button>
            <a href="{% url 'freewill:group_detail' group.id %}" class="app-button full-width">Back to Group</a>
        </form>
    </div>
    <!--Outgoing Invites-->
{% if is_admin or is_owner %}
{% if outgoing_invitations %}
    <div class="wide-card">
        <h2 class="title">{{ group.name }} - Sent Invitations</h2>
        {% for invite in outgoing_invitations %}
            <div class="threeway-card">
                <div class="threeway-row">
                    <div class="threeway-name">
                        <a class="threeway-username">Username: {{ invite.invited_user.username }}</a>
                        <a class="threeway-nickname">Nickname: {{ invite.invited_user.profile.nickname }}</a>
                    </div>
                    <div class="threeway-info">
                        <a>Invited by: {{ invite.inviter.username }}</a>
                        <a>Sent: {{ invite.created_at|date:"Y-m-d h:i a" }}</a>
                    </div>
                    <div class="threeway-actions">
                        <a href="{% url 'freewill:delete_group_invitation' group.id invite.id %}"
                        class="app-button full-width danger"
                        onclick="return confirm('Are you sure you want to delete this invite?');">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endif %}
{% endif %}
{% endblock %}