{% extends 'freewill/base.html' %}
{% load static %}
{% block title %}FreeWill Social - {{ group.name }} - Edit Group Settings{% endblock %}

{% block content %}
<div class="wrapper">
    <!--Settings-->
    <div class="wide-card">
        <h2 class="title">Edit Settings for "{{ group.name }}"</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <label for="id_name">Group Name:</label>
            {{ form.name.errors }}
            {{ form.name }}
            <label for="id_nickname">Group Nickname:</label>
            {{ form.nickname.errors }}
            {{ form.nickname }}
            <label for="id_visibility">Visibility:</label>
            {{ form.visibility.errors }}
            {{ form.visibility }}
            <label for="id_default_role">Default Member Role:</label>
            {{ form.default_role.errors }}
            {{ form.default_role }}
            <button type="submit" class="app-button full-width">Save Changes</button>
        </form>
        <a href="{% url 'freewill:group_detail' group.id %}" class="app-button full-width subtle">Back to Group</a>
    </div>
</div>
{% endblock %}