{% extends 'freewill/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="wrapper">
    <!--Change Password-->
    <div class="wide-card">
        <h2 class="title">Change Your Password</h2>
        <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="form-error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
            <button type="submit" class="app-button full-width">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}